<!doctype html>
<html>
  <head>
    <%= partial "head-contents" %>
    <%= yield_content :assets %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "header" %>
      <%= yield %>
    <%= partial "contact" %>
    <%= partial "universal-footer" %>
    <%= partial "copyright-footer" %>
    <%= partial "analytics" %>
  </body>
</html>
