!!!
%html
  %head
    = partial "partials/head_contents"
  %body{ class: page_classes }
    = partial "partials/header"
    = yield
    = partial "partials/contact"
    = partial "partials/universal-footer"
    = partial "partials/copyright-footer"
    = partial "partials/statcounter" if production?
