<!doctype html>
<html>
  <head>
    <%= partial "head-contents" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <div id="content-wrapper">
      <%= yield %>
    </div>
    <%= partial "contact" %>
    <%= partial "universal-footer" %>
    <%= partial "copyright-footer" %>
  </body>
</html>
