<li class="nav-link"><%= link_to "Overview", overview_smart_path(current_page.path), class: "scroll-on-page-link" %></li>
<li class="nav-link"><%= link_to "Movie", "/movie" %></li>
<li class="nav-link"><%= link_to "Testimonies", "/testimonies" %></li>
<li class="nav-link"><%= link_to "FAQ", "/faq" %></li>
<li class="nav-link"><%= link_to "Downloads", "/downloads" %></li>
<li class="nav-link">
  <% link_to "/apply", class: "button" do %>
    <%= content_tag :button, "Apply" %>
  <% end %>
</li>
