<header id="transparent-nav" class="navigation" role="banner">
  <div class="navigation-wrapper">
    <% link_to "/", class: "logo" do %>
      <%= image_tag "cmo-logo-white.png" %>
    <% end %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu-tra">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu-tra" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Overview", "/#call-to-men", class: "scroll-on-page-link" %></li>
        <li class="nav-link"><%= link_to "FAQ", "/faq" %></li>
        <li class="nav-link"><%= link_to "Movie", "/movie" %></li>
        <li class="nav-link"><%= link_to "Testimonies", "/testimonies" %></li>
        <li class="nav-link">
          <% link_to "/apply", class: "button" do %>
            <%= content_tag :button, "Apply" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
