.comment
  .comment-image
    = inline_svg step["image"], class: "svg-icon"
  .comment-content
    %h1= step["title"]
    = step["body"]
    - unless step["path"].empty?
      %p
        = link_to send(%{#{step["path"]}}) do
          %i.fa.fa-fw.fa-cloud-download
          = step["link_text"].to_s
