%footer.footer-2{ role: "contentinfo" }
  .footer-left-section#copyright
    %p
      Copyright &copy;
      %span.year
      Euro Team Outreach, Inc.
  .footer-secondary-links
    %ul.footer-social
      %li
        = link_to "https://www.facebook.com/euroteamoutreach" do
          = image_tag "facebook-logo-circle.png"
      %li
        = link_to "https://twitter.com/eto_ukraine" do
          = image_tag "twitter-logo-circle.png"
      %li
        = link_to "https://www.youtube.com/user/euroteamoutreach" do
          = image_tag "youtube-logo-circle.png"
      %li
        = link_to "https://github.com/joshukraine/cmoproject.org" do
          = image_tag "github-logo-circle.png"
  %br
