%meta{ charset: "utf-8" }
%meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
%meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
= tag "meta", name: "robots", content: "index,follow"
= tag "meta", name: "description", content: data.site.description.to_s
= tag "meta", name: "author", content: "Euro Team Outreach, Inc."
= tag "meta", name: "google-site-verification", content: "SFptASFx8YkEojtumC6U6VVLRBaShVrvmaTXDESgqf8"
%title= full_title(current_page.data.title)
= tag "meta", property: "og:url", content: data.site.url
= tag "meta", property: "og:title", content: data.site.title
= tag "meta", property: "og:description", content: data.site.description.to_s
= tag "meta", property: "og:image", content: "https://s3.amazonaws.com/images.cmoproject.org/cmo-logo.png"
= favicon_tag "images/cmo-favicon.png"
= tag "link", rel: "apple-touch-icon", href: "images/apple-touch-icon.png"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oxygen:400,300,700", type: "text/css"
= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
= stylesheet_link_tag :site
= javascript_include_tag :bundle
