<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <% link_to home_smart_path(current_page.path), class: "back-to-top" do %>
      <%= inline_svg "cmo-logo-two-tone.svg", class: "logo" %>
    <% end %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Get to know CMO</h3></li>
      <li><%= link_to "Overview", overview_smart_path(current_page.path) %></li>
      <li><%= link_to "Movie", "/movie" %></li>
      <li><%= link_to "FAQ", "/faq" %></li>
      <li><%= link_to "Testimonies", "/testimonies" %></li>
    </ul>
    <ul>
      <li><h3>Apply for CMO</h3></li>
      <li><%= link_to "Requirements", "/requirements" %></li>
      <li><%= link_to "Apply Now", "/apply" %></li>
    </ul>
    <ul>
      <li><h3>Downloads</h3></li>
      <li><%= link_to "View all", "/downloads" %></li>
      <li><%= link_to "Info Pack", info_pack_path %></li>
      <li><%= link_to "Application", application_path %></li>
      <li><%= link_to "Recommendation Form", rec_form_path %></li>
    </ul>
  </div>
 <hr>

  <p>Carpathian Mountain Outreach is a ministry of Euro Team Outreach, Inc.</p>
</footer>
