---
title: Apply for CMO
---

%section.hero
  .hero-inner
    .hero-copy
      %h1
        Apply for CMO #{current_project_year}

%section.page-content
  %article.announcements
    %h6
      Before applying for CMO, please read the #{link_to "Requirements", "/requirements"}.
    %hr
    %h6= registration_message

  %h5 How to Apply
  %hr
  %div
    - data["apply-steps"].each do |step|
      = partial "partials/apply-step", locals: { step: step }


  %div.apply-button
    = link_to("https://docs.google.com/forms/d/e/1FAIpQLSeSK5YwSzc-9CnThtXJv7oZYxLat236DqPfthCfHSiN0p01Kw/viewform?usp=sf_link",
      class: "button", target: "_blank") do
      = content_tag :button, "BEGIN ONLINE APPLICATION"
