---
layout: home
---

%section.nav-transparent{ role: "banner" }
  .navigation-wrapper
    = link_to "/", class: "logo" do
      = inline_svg "cmo-logo-two-tone.svg", class: "svg-logo"
    %a#js-mobile-menu-tra.navigation-menu-button{href: "javascript:void(0)"}
      %i.fa.fa-bars
    %nav{role: "navigation"}
      %ul#js-navigation-menu-tra.navigation-menu.show
        = partial "partials/nav-links"

%section.alpha

  .alpha-logo
    = inline_svg "cmo-logo-full.svg", class: "svg-logo"

  .alpha-news
    %h2 CMO 2021 Update
    %p
      Due to complications arising from the COVID-19 pandemic, we have made the
      difficult decision to cancel CMO 2021. Lord willing, the project will
      resume in the summer of 2022.
    = link_to("http://euroteamoutreach.org/blog/2021/01/cmo-in-a-covid-world/",
      class: "button") do
      = content_tag :button, "Read the Announcment"

  %a.scroll.scroll-on-page-link{ href: "#call-to-men" }
    %i.fa.fa-chevron-down.fa-2x.animated

%section#call-to-men
  .wrap
    %aside
      = inline_svg "cmo-logo-full.svg", class: "svg-logo"
    %article
      %h2 A Call to Men
      = data.content.call_to_men

%section#cmo-men-sunset
  #js-fadeInElement.fade-in-element
    %h2 Got 1 minute?
    .modal
      %label{for: "modal-1"}
        .modal-trigger
          %span.trigger-text Watch the CMO Movie Trailer
          %i.fa.fa-play-circle.fa-2x.fa-fw
      %input#modal-1.modal-state{type: "checkbox"}/
      .modal-fade-screen
        .modal-inner
          .modal-close{for: "modal-1"}
          .video
            .video-wrapper
              %iframe{allowfullscreen: "", frameborder: "0", mozallowfullscreen: "", src: "https://player.vimeo.com/video/56083375?color=2196F3&portrait=0", webkitallowfullscreen: ""}
    %p#full-movie-link= link_to "Or watch the full movie here", "/movie"

%section#the-plan
  .wrap
    .cards
      .card
        .card-image
          = image_tag "the-plan.jpg"
        .card-header
          %h5 The Plan
        .card-copy
          = data.content.the_plan
      .card
        .card-image
          = image_tag "when-where-how.jpg"
        .card-header
          %h5 When, Where, How
        .card-copy
          = data_sub(data.content.when_where_how)
      .card
        .card-image
          = image_tag "requirements.jpg"
        .card-header
          %h5 Basic Requirements
        .card-copy
          = data.content.requirements

%section#camping-landscape
